<!-- Modal templates: -->
<div class="hide" ng-include="'templates/form_builder.html'"></div> 
<div class="hide" ng-include="'templates/quick_navigate.html'"></div> 

<div class="row">
	<div class="col-md-2">
		
		<!-- 1] CATEGORY/ELEMENT TREE -->

		<!-- 1.1] TREE CONTROLS -->

		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default disabled" type="button"><span class="glyphicon glyphicon-filter"></span></button>
			 </span>
			<input type="text" class="form-control" placeholder="Elements" ng-model="element_search">
		</div>


		<!-- 1.2] ACTUAL TREE -->

		<treecontrol class="tree-classic" tree-model="element_template_tree">
			{{node.label}}
		</treecontrol>
 
	</div>

	<!-- 2] BUCKET CONFIGURATION -->

	<div class="col-md-10">
		
		<ol class="breadcrumb" >
  			<li ng-repeat="bc in breadcrumb"><a href="">{{bc}} </a></li>
		</ol>		
		
		<div gridster="element_grid_options">
		    <ul>
		        <li gridster-item="item" ng-repeat="item in element_grid">
					<div class="panel panel-default" style="height:100%">
					  <div class="panel-heading">
						<a ng-click="controller.openElementConfig('xl')" class="glyphicon glyphicon-cog"></a>
						<a class="glyphicon glyphicon-fullscreen"></a>
						<a class="glyphicon glyphicon-trash"></a>						
					  </div>
					  <div class="panel-body">
					    TODO Panel content
					  </div>
					</div>
		        </li>
		    </ul>
		</div>
	</div>
</div>
