
<script type="text/ng-template" id="templates/form_builder.html">
		<div class="modal-dialog aleph2_form_modal">
			<div class="modal-content aleph2_form_modal">

		      <div class="modal-header aleph2_form_modal">
					<button type="button" class="close" ng-click="controller.cancel()" aria-hidden="true">×</button>
        		    <h3 class="modal-title">Element Configuration</h3>
      		  </div>

     		  <div class="modal-body aleph2_form_modal">
 				<formly-form model="controller.model" fields="controller.fields" form="controller.form">
		        <pre>{{controller.model | json}}</pre>
			  </div>

       		 <div class="modal-footer aleph2_form_modal">
     		     <button class="btn btn-primary" ng-click="controller.ok()">OK</button>
     		     <button class="btn btn-warning" ng-click="controller.cancel()">Cancel</button>
       		 </div>
			</div>
		</div>
</script>