
<script type="text/ng-template" id="templates/form_builder.html">
		<div class="modal-dialog aleph2_form_modal">
			<form ng-submit="controller.ok()">
			<div class="modal-content aleph2_form_modal">

		      <div class="modal-header aleph2_form_modal">
					<button type="button" class="close" ng-click="controller.cancel()" aria-hidden="true">×</button>
        		    <h3 ng-if="element_expands" class="modal-title">
						<a tooltip="Save changes and view/configure this element's children" tooltip-placement="bottom" ng-disabled="controller.form.$invalid" ng-click="controller.expandElementConfig()" class="glyphicon glyphicon-fullscreen"></a>
						<sp><sp>
						Element Configuration <small>(template: {{form_template_name}})</small>
					</h3>
        		    <h3 ng-if="!element_expands" class="modal-title">
						Element Configuration <small>(template: {{form_template_name}})</small>
					</h3>
      		  </div>

     		  <div class="modal-body aleph2_form_modal">
					<table class="table" ng-if="element_has_errors">
						<thead>
							<tr>
								<th>Errors</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-class="error.startsWith('INFO:') ? 'info' : (error.startsWith('WARN:') ? 'warning' : 'danger')" ng-repeat="error in element_errors">
								<td>{{error}}</td>
							</tr>
						</tbody>
					</table>
				
					<hr ng-if="element_has_errors"/>
	
	 				<formly-form model="controller.model" fields="controller.fields" form="controller.form">

					<hr/>

					<div class="alert alert-info" role="alert">
 						<div ng-bind-html="form_info_html"></div>
					</div>
		    	    <pre>{{controller.model | json}}</pre>
			  </div>

       		 <div class="modal-footer aleph2_form_modal">
				<!-- Can't get this working x2 1) button disappears (http://jsfiddle.net/yu10ezkk/1/) 2) need to put the explanation in the controller 
				<div class="pull-left layer-mask" tooltip="template_update_explanation" tooltip-placement="top">
					<div class="layer"></div>
     		     	<button class="btn btn-danger" ng-disabled="!latest_template" ng-click="controller.updateTemplate()">Update Template</button>
				</div>
				-->
     		     <button class="btn btn-danger pull-left" ng-disabled="!latest_template" ng-click="controller.updateTemplate()"
					tooltip="System template is different to this. Press this button to discard changes, update, and close (WARNING: may cause the bucket to stop working)" tooltip-placement="top"
					>Update Template</button>
     		     <button type="submit" class="btn btn-primary" ng-disabled="controller.form.$invalid" >OK</button>
     		     <button class="btn btn-warning" ng-click="controller.cancel()">Cancel</button>
       		 </div>
			</div>
			</form>
		</div>
</script>