
<script type="text/ng-template" id="templates/quick_navigate.html">
		<form ng-submit="controller.ok()">
		<div class="modal-dialog aleph2_form_modal">
			<div class="modal-content aleph2_form_modal">

		      <div class="modal-header aleph2_form_modal">
					<button type="button" class="close" ng-click="controller.cancel()" aria-hidden="true">×</button>
        		    <h3 class="modal-title">Quick Navigation</h3>
      		  </div>

			<treecontrol class="tree-light" tree-model="element_tree" 
				expanded-nodes="element_tree_expanded" selected-node="selected_item"
				options="element_tree_opts"
				>
				{{controller.displayLine(node)}} {{(!node.root && !node.element.enabled) ? "[DISABLED]" : ""}} 
			</treecontrol>

       		 <div class="modal-footer aleph2_form_modal">
     		     <button type="submit" ng-disabled="!selected_item" class="btn btn-primary">Goto</button>
     		     <button class="btn btn-warning" ng-click="controller.cancel()">Cancel</button>
       		 </div>
			</div>
		</div>
		</form>
</script>