<script type="text/ng-template" id="templates/status_viewer.html">
		<div class="modal-dialog aleph2_form_modal">
			<div class="modal-content aleph2_form_modal">

		      <div class="modal-header aleph2_form_modal">
					<button type="button" class="close" ng-click="controller.ok()" aria-hidden="true">×</button>
        		    <h3 class="modal-title">Status</h3>
      		  </div>

     		  <div class="modal-body aleph2_form_modal">
				<tabset>
    				<tab heading="Errors" active="start_on_errors">
						<table class="table">
							<thead>
								<tr>
									<th>Element</th>
									<th>Error</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-class="error.error.startsWith('INFO:') ? 'info' : (error.error.startsWith('WARN:') ? 'warning' : 'danger')" ng-repeat="error in errors">
									<td><a ng-click="controller.gotoElement(error.element)">{{error.element.label}}<a></td> 
									<td>{{error.error}}</td>
								</tr>
							</tbody>
						</table>
					</tab>
    				<tab heading="Result object" active="start_on_results">
						<div class="row">
							<div class="col-md-12">
								<textarea readonly="true" onclick="this.select()" ng-model="result_json | json" style='width:100%' rows=16></textarea>
							</div>
						</div>
<!-- Codemirror with tabs is a bit of a hassle, see this issue and linked plunkr demo: https://github.com/angular-ui/ui-codemirror/issues/42
			            <pre>{{result_json | json}}</pre>
			            <textarea rows="32" ui-codemirror="resultOptions" ng-model="result_json" ui-refresh="refresh"></textarea>
-->
					</tab>
    				<tab heading="Build object">
						<div class="row">
							<div class="col-md-12">
								<textarea readonly="true" onclick="this.select()" ng-model="build_json | json" style='width:100%' rows=16></textarea>
							</div>
						</div>
<!--
			            <pre>{{build_json | json}}</pre>
			            <textarea rows="32" ui-codemirror="buildOptions" ng-model="build_json_str" ui-refresh="refresh"></textarea>
-->
					</tab>
    				<tab heading="Load Build Object">
						<div class="row">
							<div class="col-md-12">
								<textarea ng-model="to_import_json_str.text" style='width:100%' rows=16></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-md-1">
				     		     <button class="btn btn-danger" ng-click="controller.importJson()">IMPORT</button>
							</div>
						</div>
					</tab>
				</tabset>
			  </div>

       		 <div class="modal-footer aleph2_form_modal">
     		     <button class="btn btn-primary" ng-click="controller.ok()">OK</button>
       		 </div>
			</div>
		</div>
</script>