<script type="text/ng-template" id="templates/status_viewer.html">
		<div class="modal-dialog aleph2_form_modal">
			<div class="modal-content aleph2_form_modal">

		      <div class="modal-header aleph2_form_modal">
					<button type="button" class="close" ng-click="controller.ok()" aria-hidden="true">×</button>
        		    <h3 class="modal-title">Status</h3>
      		  </div>

     		  <div class="modal-body aleph2_form_modal">
				<tabset>
    				<tab heading="Errors" active="start_on_errors">
						<table class="table">
							<thead>
								<tr>
									<th>Element</th>
									<th>Error</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-class="error.error.startsWith('INFO:') ? 'info' : (error.error.startsWith('WARN:') ? 'warning' : 'danger')" ng-repeat="error in errors">
									<td>{{error.element.label}}</td> 
									<!--TODO: add a link to navigate to the error-->
									<td>{{error.error}}</td>
								</tr>
							</tbody>
						</table>
					</tab>
    				<tab heading="Result object" active="start_on_results">
			            <pre>{{result_json | json}}</pre>
<!-- (for some reason I can't get these working)
			            <textarea rows="32" ui-codemirror="resultOptions" ng-model="result_json | json" ui-refresh="refresh"></textarea>
-->
					</tab>
    				<tab heading="Build object">
			            <pre>{{build_json | json}}</pre>
<!--
			            <textarea rows="32" ui-codemirror="buildOptions" ng-model="build_json | json" ui-refresh="refresh"></textarea>
-->
					</tab>
				</tabset>
			  </div>

       		 <div class="modal-footer aleph2_form_modal">
     		     <button class="btn btn-primary" ng-click="controller.ok()">OK</button>
       		 </div>
			</div>
		</div>
</script>